<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>fragment</title>
</head>
<body>
    <!-- フラグメント定義 -->
    <div th:fragment="header">
        <div th:if="${session.loginUser}">
            <span th:text="${session.loginUser.name} + 'さん'"></span>
            <span th:text="'ログイン日時：' + ${#dates.format(session.loginTime,'yyyy/MM/dd HH:mm:ss')}"></span>
        </div>
    </div>
    <div th:fragment="footer">
        <small>
            &copy; 2024- groupA All rights reserved
        </small>
    </div>
</body>
</html>