<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet" type="text/css">
    <title>社員情報削除</title>
</head>
<header>
    <span>共通ヘッダー(仮)</span>
    <div class="header_container">
        <div class="menu_title">社員情報削除（確認）</div>
        <div class="login_info">
            <p>ユーザー名 さん</p>
            <p>ログイン日時</p>
        </div>
    </div>
</header>

<body>
    <div class="delete_content">
        <div><span>社員ID：</span><span class="search_results">検索した社員IDを表示</span></div>

        <div class="button_wrap"><button>削除</button><button>戻る</button></div>
    </div>
</body>
<footer>
    <small><p>&copy;コピーライトを入れる</p></small>
</footer>
</html>