<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common :: head">
    <title>ログイン</title>
</head>
<body>
    <main>
        <div class="container">
            <h1>ログインフォーム</h1>
            <p class="msg">ユーザー名とパスワードを入力してください</p>
            <form th:action="@{/login}" method="post" class="loginForm">
                <div class="content">
                    ユーザーID：
                    <input type="text" name="id">
                </div>
                <div class="content">
                    パスワード：
                    <input type="password" name="password">
                </div>
                <div class="loginButton">
                    <input type="submit" value="送信" class="button">
                    <input type="reset" value="リセット" class="button">
                </div>
            </form>
        </div>

    </main>

    <footer th:replace="common/common :: footer"></footer>

    <script th:inline="javascript">
        window.onload = function() {
            var errorMsg = /*[[${errorMsg} ?: 'null']]*/ "null";

            if (errorMsg != "null" && errorMsg.trim().length > 0) {
                Swal.fire({
                    title: "⚠️Error⚠️",
                    text: errorMsg,
                    confirmButtonText: "OK"
                });
            }
        };
    </script>
</body>
</html>