<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>

</head>
<body>

	<!-- <h1>社員情報更新対象者（ID入力）</h1> -->

    <!-- ヘッダー -->
    <div th:insert="~{Registration_Update_header_footer/Header}"></div>


    <form id="employeeForm" method="post" action="/checkUserId">
        <label for="employeeId">ID<span style="color: red;">＊</label>
        <input type="text" id="employeeId" name="userid">
        <button type="submit">社員情報更新画面へ</button>
        <a href="/update/SearchTemporary">メニュー画面に戻る</a>
      </form>

    <!-- フッター -->
    <div th:insert="~{Registration_Update_header_footer/Footer}"></div>

</body>
</html>