<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common :: head">
    <title>ダミーのメインメニュー</title>
</head>
<body>
    <header th:insert="common/common :: header"></header>

    <main>

        <h1>ダミーのメインメニュー</h1>
        
        <wrap class="buttonWrap">
            <button class="button"><a th:href="@{/dummy/search}">ダミー検索ページへ</a></button>
            <button class="button"><a th:href="@{/delete/search}" class="button">削除ページへ</a></button>
        </wrap>
   
    </main>

    <footer th:replace="common/common :: footer"></footer>
</body>
</html>
