<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common :: head">
    <title>社員削除確認</title>
</head>
<body>
    <header th:insert="common/common :: header"></header>

    <h1>社員削除確認</h1>
    <p>以下の社員を削除します。よろしいですか？</p>
    
    <form th:action="@{/delete/result}" method="post">
        <table>
            <tr>
                <th>社員ID:</th>
            </tr>
            <tr th:each="employee : ${employees}">
                <td th:text="${employee.id}"></td>
                <td th:text="${employee.name}"></td>
                <input type="hidden" name="ids" th:value="${employee.id}" />
            </tr>
        </table>
        <button type="submit">削除</button>
    </form>
    <a th:href="@{/dummy/success}">キャンセル</a>
    <footer th:replace="common/common :: footer"></footer>
</body>
</html>
