<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common :: head">
    <title>社員削除検索</title>
</head>
<body>
    <header th:insert="common/common :: header"></header>

    <main>
        
        <h1>社員削除検索</h1>
        
        <form th:action="@{/delete/confirm}" method="get" th:object="${deleteForm}">
            <wrap class="inputID">
                <label for="id">社員ID：</label>
                <input type="text" name="id" id="id">
                <input type="hidden" name="source" value="delete">
            </wrap>
            <wrap class="buttonWrap">
                <button type="submit" class="button">削除</button>
                <button class="button"><a th:href="@{/dummy/success}">メインメニューに戻る</a></button>
            </wrap>
        </form>
        

    </main>
    
    <script th:inline="javascript">
        window.onload = function() {
            var errorMsgList = /*[[${errorMsgList}]]*/ [];
            
            if (Array.isArray(errorMsgList) && errorMsgList.length > 0) {
                Swal.fire({
                    title: "⚠️Error⚠️",
                    html: errorMsgList.map(function(msg) { return "<p>" + msg + "</p>";}).join(""),
                    confirmButtonText: "OK"
                });
            }
        };
    </script>
    <footer th:replace="common/common :: footer"></footer>
</body>
</html>
